USE [master]
GO
/****** Object:  Database [SourceData]    Script Date: 26/05/2019 01:56:54 ******/
CREATE DATABASE [SourceData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SourceData', FILENAME = N'C:\Users\User\SourceData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SourceData_log', FILENAME = N'C:\Users\User\SourceData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SourceData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SourceData]
GO
USE [SourceData]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NULL,
	[parentCategory] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[permissionsCode] [int] IDENTITY(1,1) NOT NULL,
	[permissionsType] [varchar](50) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[permissionsCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceCategory]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceCategory](
	[resourceCode] [int] NOT NULL,
	[categoryCode] [int] NOT NULL,
 CONSTRAINT [PK_ResourceCategory] PRIMARY KEY CLUSTERED 
(
	[resourceCode] ASC,
	[categoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourcePermission]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourcePermission](
	[ResouceCode] [int] NOT NULL,
	[PermissionCode] [int] NOT NULL,
 CONSTRAINT [PK_ResourcePermission_1] PRIMARY KEY CLUSTERED 
(
	[ResouceCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[resourceCode] [int] IDENTITY(1,1) NOT NULL,
	[resourceName] [varchar](50) NULL,
	[filePath] [text] NULL,
	[version] [varchar](50) NULL,
	[authorName] [varchar](50) NULL,
	[date] [date] NULL,
	[sizeB] [numeric](18, 0) NULL,
	[numPage] [numeric](18, 0) NULL,
	[type] [varchar](200) NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[resourceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleCode] [int] IDENTITY(1,1) NOT NULL,
	[roleType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPremmision]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPremmision](
	[premmisionId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
 CONSTRAINT [PK_RolesPremmision] PRIMARY KEY CLUSTERED 
(
	[premmisionId] ASC,
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/05/2019 01:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userCode] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[roleCode] [int] NULL,
	[year] [date] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([CategoryId], [categoryName], [parentCategory]) VALUES (1, N'חגים', NULL)
GO
INSERT [dbo].[Categories] ([CategoryId], [categoryName], [parentCategory]) VALUES (2, N'פסח', 1)
GO
INSERT [dbo].[Categories] ([CategoryId], [categoryName], [parentCategory]) VALUES (3, N'שבועות', 1)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 
GO
INSERT [dbo].[Permissions] ([permissionsCode], [permissionsType]) VALUES (3, N'הרשאת צפיה')
GO
INSERT [dbo].[Permissions] ([permissionsCode], [permissionsType]) VALUES (4, N'הרשאת עריכה')
GO
INSERT [dbo].[Permissions] ([permissionsCode], [permissionsType]) VALUES (5, N'הרשאת הדפסה')
GO
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[ResourceCategory] ([resourceCode], [categoryCode]) VALUES (4017, 1)
GO
INSERT [dbo].[ResourceCategory] ([resourceCode], [categoryCode]) VALUES (4017, 2)
GO
INSERT [dbo].[ResourcePermission] ([ResouceCode], [PermissionCode]) VALUES (4017, 3)
GO
INSERT [dbo].[ResourcePermission] ([ResouceCode], [PermissionCode]) VALUES (4017, 4)
GO
INSERT [dbo].[ResourcePermission] ([ResouceCode], [PermissionCode]) VALUES (4017, 5)
GO
SET IDENTITY_INSERT [dbo].[Resources] ON 
GO
INSERT [dbo].[Resources] ([resourceCode], [resourceName], [filePath], [version], [authorName], [date], [sizeB], [numPage], [type]) VALUES (4017, N'pdfDocument.pdf', N'C:\Users\User\Documents\sourceFile\Files\pdfDocument.pdf', NULL, N'chaya', CAST(N'2019-05-08' AS Date), CAST(426005 AS Numeric(18, 0)), NULL, N'application/pdf')
GO
SET IDENTITY_INSERT [dbo].[Resources] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 
GO
INSERT [dbo].[Role] ([roleCode], [roleType]) VALUES (1, N'מנהלת')
GO
INSERT [dbo].[Role] ([roleCode], [roleType]) VALUES (2, N'מזכירה')
GO
INSERT [dbo].[Role] ([roleCode], [roleType]) VALUES (3, N'תלמידה כיתה ח')
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[RolesPremmision] ([premmisionId], [roleId]) VALUES (3, 1)
GO
INSERT [dbo].[RolesPremmision] ([premmisionId], [roleId]) VALUES (3, 2)
GO
INSERT [dbo].[RolesPremmision] ([premmisionId], [roleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([userCode], [userName], [password], [email], [roleCode], [year]) VALUES (3, N'chaya axstock', N'123456789', N'c0556777462@gmail.com', 1002, CAST(N'2019-05-11' AS Date))
GO
INSERT [dbo].[Users] ([userCode], [userName], [password], [email], [roleCode], [year]) VALUES (5, N'sara alevi', N'78965412', N'c0556777462@gmail.com', 4, CAST(N'2019-05-12' AS Date))
GO
INSERT [dbo].[Users] ([userCode], [userName], [password], [email], [roleCode], [year]) VALUES (6, N'sara levi', N'456789', N'c0556777462@gmail.com', 3, CAST(N'2019-05-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ResourceCategory]  WITH CHECK ADD  CONSTRAINT [FK_ResourceCategory_Resources] FOREIGN KEY([categoryCode])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ResourceCategory] CHECK CONSTRAINT [FK_ResourceCategory_Resources]
GO
ALTER TABLE [dbo].[ResourceCategory]  WITH CHECK ADD  CONSTRAINT [FK_ResourceCategory_Resources1] FOREIGN KEY([resourceCode])
REFERENCES [dbo].[Resources] ([resourceCode])
GO
ALTER TABLE [dbo].[ResourceCategory] CHECK CONSTRAINT [FK_ResourceCategory_Resources1]
GO
ALTER TABLE [dbo].[ResourcePermission]  WITH CHECK ADD  CONSTRAINT [FK_ResourcePermission_Permissions] FOREIGN KEY([PermissionCode])
REFERENCES [dbo].[Permissions] ([permissionsCode])
GO
ALTER TABLE [dbo].[ResourcePermission] CHECK CONSTRAINT [FK_ResourcePermission_Permissions]
GO
ALTER TABLE [dbo].[ResourcePermission]  WITH CHECK ADD  CONSTRAINT [FK_ResourcePermission_Resources] FOREIGN KEY([ResouceCode])
REFERENCES [dbo].[Resources] ([resourceCode])
GO
ALTER TABLE [dbo].[ResourcePermission] CHECK CONSTRAINT [FK_ResourcePermission_Resources]
GO
ALTER TABLE [dbo].[RolesPremmision]  WITH CHECK ADD  CONSTRAINT [FK_RolesPremmision_Permissions] FOREIGN KEY([premmisionId])
REFERENCES [dbo].[Permissions] ([permissionsCode])
GO
ALTER TABLE [dbo].[RolesPremmision] CHECK CONSTRAINT [FK_RolesPremmision_Permissions]
GO
ALTER TABLE [dbo].[RolesPremmision]  WITH CHECK ADD  CONSTRAINT [FK_RolesPremmision_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleCode])
GO
ALTER TABLE [dbo].[RolesPremmision] CHECK CONSTRAINT [FK_RolesPremmision_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([roleCode])
REFERENCES [dbo].[Role] ([roleCode])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
