<div class="row"  dir="rtl" style="margin: 20px;">
  <form  class="col-md-6">

    <div class="form-group row" *ngIf="SingelFile">
      <label for="name" class="col-sm-4">שם קובץ:</label>
      <input type="text" class="form-control col-sm-6" id="name" placeholder="{{SingelFile.resourceName}}" name="name"
        disabled>
    </div>

    <div class="form-group row" *ngIf="SingelFile">
      <label for="version" class="col-sm-4">גרסה:</label>
      <input type="text" class="form-control col-sm-6" id="version" placeholder="{{SingelFile.version}}" name="version"
        disabled>
    </div>

    <div class="form-group row" *ngIf="SingelFile">
      <label for="authorName" class="col-sm-4">שם מחבר:</label>
      <input type="text" class="form-control col-sm-6" id="authorName" placeholder="{{SingelFile.authorName}}"
        name="authorName" disabled>
    </div>
    <div class="form-group row" *ngIf="SingelFile">
      <label for="date" class="col-sm-4">תאריך:</label>
      <input type="text" class="form-control col-sm-6" id="date" placeholder="{{SingelFile.date}}" name="date" disabled>
    </div>

    <div class="form-group row" *ngIf="SingelFile&&SingelFile.Permissions&&SingelFile.Permissions.length>0">
      <label for="resourcePermission" class="col-sm-4">הרשאת קובץ:</label>
      <ng-select style="background-color: white;
         height: 9px;
         width: 270px;" [items]="SingelFile.Permissions" [multiple]="true" [closeOnSelect]="false" disabled
        [clearOnBackspace]="false" bindLabel="permissionsType" [(ngModel)]="SingelFile.Permissions" name="control11">
      </ng-select>
    </div>

    <div class="form-group row" *ngIf="SingelFile&&SingelFile.Categories&&SingelFile.Categories.length>0">
        <label for="resourceCategories" class="col-sm-4"> קטגוריות:</label>
        <ng-select style="background-color: white;
           height: 9px;
           width: 270px;" [items]="SingelFile.Categories" [multiple]="true" [closeOnSelect]="false" disabled
          [clearOnBackspace]="false" bindLabel="categoryName" [(ngModel)]="SingelFile.Categories" name="control1">
        </ng-select>
      </div>

    <div class=" buttons">
        <button type="button" *ngIf="editPer" (click)="editFile()" class="btn btn-outline-dark col-sm-3">עריכת פרטי קובץ</button>
        <button type="button" *ngIf="deletePer" (click)="deleteFile()" class="btn btn-outline-dark col-sm-3">מחיקת קובץ</button>

      <button type="button" *ngIf="writePremission" (click)="openResource()" class="btn btn-outline-dark col-sm-3">עריכה</button>
      <button type="button" *ngIf="donloadPremission" class="btn btn-outline-dark col-sm-3" (click)="donloadFile()"><a *ngIf="donloadSrc" [href]="donloadSrc" download="{{SingelFile.resourceName}}">הורדה</a></button>
    </div>
  </form>
  <div class="col-md-6" *ngIf="viewPremission&&url" style="width: 300px; height: 500px;">
    <simple-pdf-viewer #pdfViewer [src]="url" (onLoadComplete)="onLoadComplete()" [removePageBorders]="true"></simple-pdf-viewer>
  </div>
  <div class="col-md-6" *ngIf="!viewPremission">אין הרשאה לצפיה</div>
</div>

