<div class="row"  dir="rtl">
  <form  class="col-md-6">

    <div class="form-group row" *ngIf="SingelFile">
      <label for="name" class="col-sm-4">שם קובץ:</label>
      <input type="text" class="form-control col-sm-6" id="name" placeholder="{{SingelFile.resourceName}}" name="name"
        disabled>
    </div>

    <div class="form-group row" *ngIf="SingelFile">
      <label for="version" class="col-sm-4">גרסה:</label>
      <input type="text" class="form-control col-sm-6" id="version" placeholder="{{SingelFile.version}}" name="version"
        disabled>
    </div>

    <div class="form-group row" *ngIf="SingelFile">
      <label for="authorName" class="col-sm-4">שם מחבר:</label>
      <input type="text" class="form-control col-sm-6" id="authorName" placeholder="{{SingelFile.authorName}}"
        name="authorName" disabled>
    </div>
    <div class="form-group row" *ngIf="SingelFile">
      <label for="date" class="col-sm-4">תאריך:</label>
      <input type="text" class="form-control col-sm-6" id="date" placeholder="{{SingelFile.date}}" name="date" disabled>
    </div>

    <div class="form-group row" *ngIf="SingelFile&&SingelFile.Permissions&&SingelFile.Permissions.length>0">
      <label for="resourcePermission" class="col-sm-4">הרשאת קובץ:</label>
      <ng-select style="background-color: white;
         height: 9px;
         width: 270px;" [items]="SingelFile.Permissions" [multiple]="true" [closeOnSelect]="false" disabled
        [clearOnBackspace]="false" bindLabel="permissionsType" [(ngModel)]="SingelFile.Permissions" name="control1">
      </ng-select>
    </div>

    <div class=" buttons">
      <button *ngIf="viewPremission" type="button" class="btn col-sm-2" (click)="show()">צפיה</button>
      <button type="button" *ngIf="writePremission" (click)="openResource()" class="btn col-sm-2">עריכה</button>
      <button type="button" *ngIf="donloadPremission" class="btn col-sm-2">הורדה</button>
    </div>
  </form>
  <div class="col-md-6" *ngIf="viewPremission">
    <iframe *ngIf="iframeSrc!=''" class="col-md-12" style="background-color: aliceblue;height: 500px;" [src]="iframeSrc" ></iframe>
  </div>
</div>