<div class="container">
    <form dir="rtl">

        <div class="form-group row">
            <label class="col-sm-2">הוסף קובץ</label>
            <!-- <input dir="rtl" type="file" name="file"  webkitDirectory (change)="handleFileInput($event.target.files)"
                class="form-control col-sm-3" id="upload" accept="" required> -->
                <file-drop dropZoneLabel="" (onFileDrop)="dropped($event)" 
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <span>גרור תקייה או קובץ</span>
                </file-drop>
        </div>
        <div *ngIf="files&&files.length>0" class="upload-table" >
            <table class="table">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>גודל</th>
                        <th>תאריך עריכה אחרון</th>
                        <th> סוג</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td>{{ item.resourceName }}</td>
                        <td>{{ item.sizeB }} MB</td>
                        <td>{{ item.date | date:'short'}}</td>
                        <td>{{ item.type }}</td>
                        <td>
                           <i style="margin-left: 12px;" class="fas fa-pen" (click)="openModal(item,i)"></i>
                          <i class="fas fa-upload" (click)="uploadSingleFile(i,item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button *ngIf="files&&files.length>0" class=" btn btn-outline-dark" (click)="openModalUpdateAll()" style="margin: 12px;">עדכון פרטים לכל הקבצים</button>
        <button *ngIf="files&&files.length>0" type="button" class="btn btn-outline-dark" (click)="uploadAllFiles()">העלאת כל הקבצים</button>
    </form>
</div>