<div class="container">
    <form dir="rtl">

        <div class="form-group row">
            <label class="col-sm-2">הוסף קובץ</label>
            <!-- <input dir="rtl" type="file" name="file"  webkitDirectory (change)="handleFileInput($event.target.files)"
                class="form-control col-sm-3" id="upload" accept="" required> -->
                <file-drop dropZoneLabel="" (onFileDrop)="dropped($event)" 
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <span>גרור תקייה או קובץ</span>
                </file-drop>
        </div>
        <div class="upload-table" >
            <table class="table" style="color: white !important">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>גודל</th>
                        <th>תאריך עריכה אחרון</th>
                        <th> סוג</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td>{{ item.resourceName }}</td>
                        <td>{{ item.sizeB }} MB</td>
                        <td>{{ item.date | date:'short'}}</td>
                        <td>{{ item.type }}</td>
                        <td>
                            <button (click)="openModal(item,i)">עדכון פרטים</button>
                            <button (click)="uploadSingleFile(i,item)">העלאת קובץ</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button (click)="openModalUpdateAll()">עדכון פרטים לכל הקבצים</button>
        <button type="button" class="btn btn-lg" (click)="uploadAllFiles()">העלאת כל הקבצים</button>
    </form>
</div>