    <div class="form-group row">
            <label class="col-sm-2">סוג הרשאה</label>
            <ng-select style="background-color: white;
            height: 9px;
            width: 270px;" [items]="permission" [multiple]="true" [closeOnSelect]="false" [clearOnBackspace]="false"
                bindLabel="permissionsType" placeholder="בחר הרשאות קובץ" [(ngModel)]="recorceFile.Permissions"
                name="control1">
            </ng-select>
        </div>

        <div class="form-group row">
            <label class="col-sm-2">בחר קטגוריה</label>
            <ng-select style="background-color: white;
            height: 9px;
            width: 270px;" [items]="categories" [multiple]="true" [closeOnSelect]="false" [clearOnBackspace]="false"
                bindLabel="categoryName" placeholder="בחר קטגוריות" [(ngModel)]="recorceFile.Categories"
                name="control1">
            </ng-select>
        </div>
        <div class="form-group row">
            <button (click)="addCategory()">הוספת קטגוריה</button>
        </div>

        <div class="form-group row">
            <label class="col-sm-2"> גודל הקובץ</label>
            <input type="text" name="size" [(ngModel)]="recorceFile.sizeB" readonly>
        </div>

        <div class="form-group row">
            <label class="col-sm-2"> בעלי הקובץ</label>
            <input type="text" name="auth" [(ngModel)]="recorceFile.authorName">
        </div>

        <div class="form-group row">
            <label class="col-sm-2"> תאריך יצירת הקובץ </label>
            <input type="datetime" name="date" [(ngModel)]="recorceFile.date" readonly>
        </div>
        <div>
          <button (click)="save()">שמור</button>
        </div>